<!DOCTYPE html>
<html>
  <head>
    <title>crimefighter:sf</title>
    <meta http-equiv='Content-Type' content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="app.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugins/crossfilter/crossfilter.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </head> 
  <body>
  </body>
</html>
